
bin/Debug/net45/Macrocosm.dll
bin/Debug/net45/Macrocosm.pdb
bin/Debug/net45/Microsoft.Xna.Framework.dll
bin/Debug/net45/Microsoft.Xna.Framework.Game.dll
bin/Debug/net45/Microsoft.Xna.Framework.Graphics.dll
bin/Debug/net45/Microsoft.Xna.Framework.Xact.dll
bin/Debug/net45/MonoMod.RuntimeDetour.xml
bin/Debug/net45/MonoMod.Utils.xml
bin/Debug/net45/SubworldLibrary.xml
obj/Debug/net45/Macrocosm.assets.cache
obj/Debug/net45/Macrocosm.csproj.CopyComplete
obj/Debug/net45/Macrocosm.csproj.CoreCompileInputs.cache
obj/Debug/net45/Macrocosm.csproj.FileListAbsolute.txt
obj/Debug/net45/Macrocosm.csprojAssemblyReference.cache
obj/Debug/net45/Macrocosm.dll
obj/Debug/net45/Macrocosm.pdb
obj/Macrocosm.csproj.nuget.dgspec.json
obj/Macrocosm.csproj.nuget.g.props
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net45/Macrocosm.pdb
